%div{:"ng-controller"=>"AdminLogsController",:"data-url"=>logs_systems_path,"ng-init"=>"statuses = #{t('b1_admin.statuses').invert.to_json}"}   
  #content-container
    #page-title
      %h1.page-header.text-overflow
        =t("b1_admin.admin_logs")
    #page-content 
      .row
        .panel
          .panel-body
            %table.table.table-hover.table-striped.table-vcenter#itemsTable{"ng-table"=>"itemsTable"}
              %tr{"ng-repeat" => "item in data"}
                %td{"data-title" => "'#{t('b1_admin.module')}'"}
                  {{item.module}}
                %td{"data-title" => "'#{t('b1_admin.action')}'"}
                  {{item.action_title}}
                %td{"data-title" => "'#{t('b1_admin.created_at')}'"}
                  {{item.time | asDate | date:'dd.MM.yyyy HH:mm '}}
                %td{"data-title" => "'#{t('b1_admin.user')}'"}
                  %b {{item.ip}} | {{item.user_name}}
                  %br
                  {{item.user_agent}}
                %td{"data-title" => "'#{t('b1_admin.server')}'"}
                  %b {{item.server_ip}}
                %td{"data-title" => "'#{t('b1_admin.status')}'"}
                  %span.label.text-lg{style:"background-color:{{statusColors[item.status]}}"}
                    %span{"ng-switch" => "", :on => "item.status"}
                      %span{"ng-switch-when" => "1"}=t('b1_admin.statuses._1')
                      %span{"ng-switch-when" => "2"}=t('b1_admin.statuses._2')
                      %span{"ng-switch-when" => "3"}=t('b1_admin.statuses._3')
                      %span{"ng-switch-when" => "4"}=t('b1_admin.statuses._4')
                %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                  - if user_can?(:show)
                    %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-mint.fa.fa-search-plus.add-tooltip{"tooltip" => t("b1_admin.more"), :href => "#","ng-click" => "show(item)"}
  - content_for :aside do
    .hidden
  %aside#aside-container
    #aside
      .panel
        .panel-heading
          %h3.panel-title=t("b1_admin.filter")
        = form_tag settings_admins_path ,class: "form-horizontal",novalidate: true,name: :itemForm do
          .panel-body
            .col-sm-12
              .form-group{"ng-class" => "{'has-error': itemForm.status.$invalid && itemForm.$submitted}"}
                = label_tag :status, t("b1_admin.status"), class:"control-label"
                %select.selectpicker{"ng-model" => "filters.status", "ng-options" => "k as v for (k, v) in statuses"}
              .form-group{"ng-class" => "{'has-error': itemForm.controller.$invalid && itemForm.$submitted}"}
                = label_tag :controller, t("b1_admin.module"), class:"control-label"
                %select.selectpicker{"ng-model" => "filters.controller", "ng-options" => "k as v for (k, v) in modules"}
              .form-group{"ng-class" => "{'has-error': itemForm.action.$invalid && itemForm.$submitted}"}
                = label_tag :action, t("b1_admin.action"), class:"control-label"
                %select.selectpicker{"ng-model" => "filters.action", "ng-options" => "k as v for (k, v) in actions"}
              .form-group{"ng-class" => "{'has-error': itemForm.server_ip.$invalid && itemForm.$submitted}"}
                = label_tag :server_ip, t("b1_admin.server"), class:"control-label"
                %select.selectpicker{"ng-model" => "filters.server_ip", "ng-options" => "k as v for (k, v) in servers"}
              .form-group{"ng-class" => "{'has-error': itemForm.ip.$invalid && itemForm.$submitted}"}
                = label_tag :ip, t("b1_admin.ip"), class:"control-label"
                = text_field_tag :ip,"" ,class:"form-control","ng-minlength"=>3, "ng-model"=>"filters.ip"
              .form-group{"ng-class" => "{'has-error': itemForm.ip.$invalid && itemForm.$submitted}"}
                = label_tag :user_id, t("b1_admin.user"), class:"control-label"
                = text_field_tag :user_id,"" ,class:"form-control", "ng-model"=>"filters.user_id"
          .panel-footer.text-right
            %a.btn.btn-success{"ng-click"=>"filter()"}=t("b1_admin.do_filter")
  %script{:id => "adminLog.html", :type => "text/ng-template"}
    .modal-header
      %h3.modal-title {{item.module}} - {{item.action_title}}
    .modal-body
      %p
        =t("b1_admin.params")
        %b {{ item.params | json }}
      %p
        =t("b1_admin.desc")
        %br
        %b {{ item.description }}
    .modal-footer
      %button.btn.btn-warning{"ng-click" => "cancel()"}=t("b1_admin.OK")