!!!
%html{lang: I18n.locale,:"ng-app"=> "B1Admin"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title=B1Config.get_const.title
    %link{href:"http://fonts.googleapis.com/css?family=Roboto:400,700,300,500", rel:"stylesheet", type: "text/css"}
    = stylesheet_link_tag    "b1_admin/login", media: "all"
    = javascript_include_tag "b1_admin/application"
    %base{href:namespace}
  %body
    = render "shared/error_alert"
    #container.cls-container
      #bg-overlay.bg-img.img-balloon
      .cls-header.cls-header-lg
        .cls-brand
          %a.box-inline{href: root_path}
            / <img alt="Nifty Admin" src="img/logo.png" class="brand-icon">
            %span.brand-title
              = B1Config.get_const.company_name
              %span.text-thin=t("b1_admin.admin")
      .cls-content{:"ng-controller"=>"LoginFormController", :"data-login-url"=>url(:login), :"data-restore-url"=>url(:restore)}
        .cls-content-sm.panel
          .panel-body
            %p.pad-btm=t("b1_admin.sign_in")
            = form_for @login, url: login_path,html:{:"ng-hide"=>"resetPass"}  do |f|
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-user
                  = f.text_field :email, class: "form-control", placeholder: t("b1_admin.login_plc") , :"ng-model"=>"login.email"
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-asterisk
                  = f.password_field :password, class: "form-control", placeholder: t("b1_admin.password_plc"), :"ng-model"=>"login.password"
              .row
                .col-xs-8.text-left.checkbox
                  %label.form-checkbox.form-icon
                    = f.check_box :remember_me ,{checked:false, :"ng-model"=>"login.remember_me"} , true, false
                    = t("b1_admin.remember_me")
                .col-xs-4
                  .form-group.text-right
                    %a.btn.btn-success.text-uppercase{:"ng-click" => "sign()", :"ng-href" => "#"}=t("b1_admin.submit_login")
            = form_tag restore_path ,:"ng-hide"=>"!resetPass" do 
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control{placeholder:t("b1_admin.login_plc"), type: :email,:"ng-model"=>"email"}
              .form-group.text-right
                %a.btn.btn-success.text-uppercase{:"ng-click" => "restore()"}=t("b1_admin.reset_pass")
        .pad-ver
          = link_to t("b1_admin.forgot_pass"), "#", class: "btn-link mar-rgt",:"ng-hide"=>"resetPass",:"ng-click"=>"resetPass=true"
          = link_to t("b1_admin.back_to_login"), "#", class: "btn-link mar-rgt",:"ng-hide"=>"!resetPass",:"ng-click"=>"resetPass=false"