!!!
%html{lang: I18n.locale}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title=B1Admin::Config.title
    %link{href:"http://fonts.googleapis.com/css?family=Roboto:400,700,300,500", rel:"stylesheet", type: "text/css"}
    = stylesheet_link_tag    "b1_admin/login", media: "all"
    = javascript_include_tag "b1_admin/login"
  %body
    #container.cls-container
      #bg-overlay.bg-img.img-balloon
      .cls-header.cls-header-lg
        .cls-brand
          %a.box-inline{href: root_path}
            / <img alt="Nifty Admin" src="img/logo.png" class="brand-icon">
            %span.brand-title
              = B1Admin::Config.company_name
              %span.text-thin=t("b1_admin.admin")
      / ===================================================
      / LOGIN FORM
      / ===================================================
      .cls-content
        .cls-content-sm.panel
          .panel-body
            %p.pad-btm=t("b1_admin.sign_in")
            = form_for @login, url: login_path do |f|
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-user
                  = f.text_field :email, class: "form-control", placeholder: t("b1_admin.login_plc")
              .form-group
                .input-group
                  .input-group-addon
                    %i.fa.fa-asterisk
                  = f.password_field :email, class: "form-control", placeholder: t("b1_admin.password_plc")
              .row
                .col-xs-8.text-left.checkbox
                  %label.form-checkbox.form-icon
                    = f.check_box :remember_me
                    = t("b1_admin.remember_me")
                .col-xs-4
                  .form-group.text-right
                    = f.submit t("b1_admin.submit_login") ,class: "btn btn-success text-uppercase"
        .pad-ver
          = link_to t("b1_admin.forgot_pass"), "#", class: "btn-link mar-rgt"