#content-container
  #page-title
    %h1.page-header.text-overflow
      =t("b1_admin.roles")
  #page-content{:"ng-controller"=>"RolesController",:"data-url"=>settings_roles_path,:"data-delete-text"=>t("b1_admin.delete_role_confirm")}    
    .row
      .panel
        .panel-heading
          .panel-control
            %button.btn.btn-default{:name => "refresh", :title => "Refresh", :type => "button","ng-click"=>"itemsTable.reload()"}
              %i.fa.fa-refresh.icon-refresh
            %a.btn.btn-primary{href:new_settings_role_path,"ng-click"=>"$root.setRoute('#{new_settings_role_path}')"}=t("b1_admin.add")
          %h3.panel-title=t("b1_admin.roles_list")

        .panel-body
          %div{"cg-busy" => "{'promise': itemsPromise,'backdrop': true,'message': '#{t('b1_admin.loading')}'}"}
            %table.table.table-striped#itemsTable{"ng-table"=>"itemsTable"}
              %tr{"ng-repeat" => "item in data"}
                %td{"data-title" => "'#{t('b1_admin.title')}'"}
                  {{item.name}}
                %td{"data-title" => "'#{t('b1_admin.info')}'"}
                  {{item.desc}}
                  %a.fa.fa-question-circle{href:"#","popover-trigger"=>"mouseenter","popover"=>"{{item.permissions}}","popover-placement"=>"left"}
                %td.min-w-td.text-center{"data-title" => "'#{t('b1_admin.user_actions')}'"}
                  - if user_can?(:destroy)
                    %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-danger.fa.fa-times.add-tooltip{"tooltip" => t("b1_admin.delete"), :href => "#","ng-click" => "destroy(item)"}
                  - if user_can?(:edit)
                    %a.btn.btn-sm.btn-trans.btn-icon.btn-hover-success.fa.fa-pencil.add-tooltip{"tooltip" => t("b1_admin.edit"),href:"#{settings_roles_path}/{{item.id}}/edit/","ng-click"=>"$root.setRoute('#{settings_roles_path}/' + item.id + '/edit/')",style:"margin-right: 15px;"}


